<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="TelnetClient" source="windowsfeatures" />
  <package id="Microsoft-Hyper-V-All" source="windowsfeatures" />

  <package id="ChocolateyGUI" />
  <package id="webpicommandline" />

  <package id="GoogleChrome" />
  <package id="javaruntime" /> 
  <package id="flashplayerplugin" /> 
  <package id="Silverlight" /> 
  <package id="dropbox" />
  <package id="skype" />

  <package id="vlc" />
  <package id="aimp" />
  <package id="spotify" />
  <package id="adobereader" />
  <package id="windjview" />

  <package id="TotalCommander" />
  <package id="sysinternals" />
  <package id="f.lux" />
  <package id="TeraCopy" />
  <package id="gow" />
  <package id="rdcman" />
  <package id="lockhunter" />
  <package id="windirstat" />
  <package id="Wget" />
  <package id="curl" />
  <package id="7zip.install" />
  <package id="notepadplusplus.install" />
  <package id="SublimeText3" />
  <package id="paint.net" />
  <package id="xmind" />

  <package id="putty.install" />
  <package id="winscp" />

  <package id="winmerge" />
  <package id="linqpad4" />
  <package id="dotPeek" />
  <package id="fiddler4" />
  <package id="windbg" />
  <package id="baretail" />
  <package id="nodejs.install" />

  <package id="slik.svn" />
  <package id="tortoisesvn" />
  <package id="git" />
  <package id="poshgit" />
  <package id="git-credential-winstore" />
  <package id="ScriptCs" />

  <package id="truecrypt" />
  <!-- <package id="resharper" /> -->
</packages>